.container {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.box {
  display: block;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: #242634;
  height: auto;
  width: fit-content;
  min-width: 240px;
  max-width: 25vw;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 10px rgba(10, 10, 10, 0.25);
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.modalOptions {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.button {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.input {
  background-color: #1d1f2b;
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.input:focus {
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.dropdown {
  background-color: #1d1f2b;
  color: white;
}

.option:hover {
  background-color: rgba(155, 155, 155, 0.15);
}

@media (min-height: 500px) {
  .box {
    max-height: 50vh;
  }
}

@media (min-height: 750px) {
  .box {
    max-height: 60vh;
  }
}

@media (min-height: 800px) {
  .box {
    max-height: 70vh;
  }
}

@media (min-height: 950px) {
  .box {
    max-height: 74vh;
  }
}
